/* Default settings */


*,*::before,*::after{
    box-sizing: border-box;
}


body {
    font-family:"Times New Roman",sans-serif;
    background-color: darkgray;
}

/* titles */

#one {
    font-size: 30px; 
   
    
    padding: 16px;
    text-align: center;
    margin: 0 0 10px 0;
  
}

.face{
    font-size: 25px;
    color:cadetblue;
    background-color: chocolate;
    font-weight: bold;
}


#one,h2{
    color: burlywood;
    background-color: brown;
    font-weight: bolder;
    
}

h2 {
    font-size: 15px; 
}


/* text */

p {
    text-align: justify;
}

div p strong,div li strong {
    color: rgb(210, 30, 129);
}

div p em {
    color: cadetblue;
}



/* list */

ul.principal {
    list-style-type: square;
    color: gray;

}
div.principal{
    margin-top: 50px;
    margin-left:  550px;
    
}
/*
    text-align: center;
    padding: 20;
    margin: auto; 
    */
ul div.secondary{
    list-style-type: armenian;
    
}

ol div.secondary{
    list-style-type: upper-roman;
}

 li a{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;

}

/* images */
img {
    height: auto;
    width: 250px;
}

